.card {
  display: flex;
  flex-direction: column;
  list-style: none;
  color: black;
  border-radius: 10px;
  max-width: 282px;
  overflow: hidden;
}

.card__image {
  object-fit: cover;
  max-width: 282px;
  height: 282px;
  border-radius: 10px;
}

.card__description {
  max-width: 282px;
  font-size: 12px;
  background-color: white;
  display: flex;
  color: black;
  padding: 25px 20px;
  align-items: center;
  justify-content: space-between;
  text-align: left;
}

.card__info {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  letter-spacing: 0em;
  margin: 0;
  max-width: 282px;
}

.card__like-button {
  background: transparent url(../images/Vector.svg) center no-repeat;
  background-color: white;
  height: 18px;
  width: 39px;
  border-style: none;
}
.card__like-button:hover {
  opacity: 0.6;
  cursor: pointer;
}
.card__like-button_active {
  background-image: url("../images/card-images/like-button-after.svg");
}

.card__delete-button {
  border: none;
  cursor: pointer;
  background: transparent url(../images/card-images/trash.svg) center no-repeat;
  width: 18px;
  height: 40px;
  position: relative;
  left: 250px;
  top: 50px;
}
