.footer {
  margin: 0;
}

.footer__copyright {
  display: flex;
  color: #545454;
  margin: 0;
}

@media screen and (max-width: 480px) {
  .footer__copyright {
    display: flex;
    justify-content: left;
    padding: 0 0 36px 19px;
  }
}
