.header {
  margin: 45px 0 0;
}

.header__logo {
  width: 173px;
  height: 33px;
}
@media screen and (max-width: 480px) {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
}
