.header {
  margin-top: 45px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  padding-bottom: 41px;
  width: 100%;
}

/* Media queries */

/* styles for 375px */

@media (max-width: 375px) {
  .header {
    margin: 0 auto;
    padding: 0;
  }
  .header__image {
    width: 126px;
    height: 24px;
    margin: 28px 0 32px 27px;
  }
}
