.header {
  padding: 45px 0 41px;
  border-bottom: 1px solid rgb(84 84 84 / 0.7);
  max-width: 880px;
  min-height: 74px;
}

.header__logo {
  width: 173px;
  height: 33px;
}

@media screen and (max-width: 320px) {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 27px 0 32px 0px;
  }

  .header__logo {
    width: 126px;
    height: 24px;
  }
}
