.modal {
  pointer-events: none;
  display: flex;
  visibility: hidden;
  opacity: 0;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal_opened {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 0.3s linear;
  pointer-events: auto;
}

.modal__container {
  position: relative;
  background-color: #fff;
  padding: 36px 36px 0;
  margin: 0;
  width: 430px;
  height: 330px;
  border-radius: 10px;
  box-shadow: none;
  border: none;
}

.modal__container_type_image-preview {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: transparent;
  max-width: 75vw;
  max-height: 75vh;
  width: auto;
  height: auto;
}

.modal__close-button {
  border: none;
  background: url(../images/modal-close.svg) no-repeat center/contain
    transparent;
  position: absolute;
  cursor: pointer;
  top: -40px;
  right: -40px;
  width: 40px;
  height: 40px;
  z-index: 10;
}

.modal__close-button:hover {
  opacity: 0.7;
}

.modal__close-button_type_image-preview {
  background: url(../images/modal-close.svg) no-repeat center;
  top: calc(-2.5%);
  right: calc(-1%);
}

.modal__title {
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  text-align: left;
  color: #000;
  margin-bottom: 24px;
}

.modal__form {
  background-color: #fff;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.modal__input {
  padding: 10px;
  margin-bottom: 0;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal__input:last-of-type {
  margin-bottom: 0;
  margin-top: 20px;
}

.modal__save-button {
  background-color: #000;
  color: #fff;
  max-width: 100%;
  height: 50.15px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  margin: 0;
  padding: 0;
  margin-top: 48px;
}

.modal__save-button:hover {
  background-color: #555;
}

.modal__save_button_disabled {
  background-color: #555;
  cursor: default;
}

.modal__image {
  width: 100%;
  max-width: 75vw;
  max-height: 75vh;
  object-fit: contain;
}

.modal__caption {
  color: #fff;
  width: 100%;
  padding: 10px;
  margin: 0;
  text-align: left;
}

@media screen and (max-width: 320px) {
  .modal {
    padding: 0;
  }
  .modal__container {
    width: 282px;
    height: 322px;
    padding: 0;
  }
  .modal__form {
    width: 282px;
  }
  .modal__title {
    padding-top: 44px;
    padding-bottom: 0;
    font-size: 18px;
    font-weight: 900;
    line-height: 21.78px;
    text-align: left;
    padding-left: 22px;
  }
  .modal__save-button {
    background-color: #000;
    color: #fff;
    max-width: 238px;
    width: 238px;
    height: 50.15px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    margin-left: calc(8%);
    margin-bottom: 25px;
    padding-left: 0px;
    font-size: 14px;
  }
  .modal__input {
    margin: 0 22px;
    width: 218px;
    font-size: 14px;
  }

  .modal__close-button {
    background: url(../images/modal-close-mobile.svg) no-repeat center;
    left: calc(85%);
    height: 29px;
    width: 29px;
  }
}
