.page {
  font-family: Inter, Arial, Helvetica, sans-serif;
  background-color: #000000;
  color: white;
  margin-right: 20px;
  margin-left: 20px;
}

.page__section {
  max-width: 880px;
  width: 100%;
  position: relative;
  margin: 0 auto;
}
.page__content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* styles for 375px */

@media screen and (max-width: 375px) {
  .page {
    margin-right: 0;
    margin-left: 0;
  }
}
