.modal__input-container {
  position: relative;
  margin-bottom: 24px;
}
.modal__error {
  position: absolute;
  top: 40%;
  left: 8%;
  color: red;
  font-size: 12px;
  visibility: hidden;
  margin-top: 4px;
}
.modal__error_visible {
  visibility: visible;
}
.modal__error:last-of-type {
  position: absolute;
  top: 64%;
  left: 8%;
  color: red;
  font-size: 12px;
  margin-top: 0;
}
@media screen and (max-width: 320px) {
  .modal__error {
    position: absolute;
    top: 44%;
    color: red;
    font-size: 12px;
    visibility: hidden;
    margin-top: 4px;
  }
}
.modal__error_visible {
  visibility: visible;
}
.modal__error:last-of-type {
  position: absolute;
  top: 62%;
  color: red;
  font-size: 12px;
  margin-top: 0;
}
